fastapi==0.115.6
uvicorn[standard]==0.34.0
huggingface-hub==0.27.1
torch==2.5.1
transformers==4.47.1
accelerate==1.2.1
diffusers==0.31.0
safetensors==0.4.5
Pillow==11.0.0
sentencepiece==0.2.0
protobuf==5.29.2
vllm==0.6.6.post1
python-multipart==0.0.20
bitsandbytes==0.45.0
